<div class="row">
  <div class="col-lg-9">

    <div class="well well-default">
      <h3><%= t('views.block.subscribers_content') %></h3>
    </div>

    <div class="panel">
      <div class="panel-body">
        <h4>
          <%= t('views.block.subscription_help') %>
          <%= link_to t('views.block.subscribe'), payment_complete_registration_index_path %>

        </h4>
      </div>
    </div>
  </div>
</div>
