<div class="row">
  <div class="col-md-12">
    <div class="well well-default">
      <h2>Unity</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- Cada lista representa uma categoria de curso -->
    <ul class="course-list">
      <!-- Cada item da lista representa um curso da categoria -->
      <!-- Layout para curso não iniciado -->
      <li class="course-list-item">
        <div class="course-panel panel panel-default">
          <div class="panel-body">
            <div class="course-panel-thumb">
              <img src="https://cdn-public.techrocket.com/uploads/unity1.png" alt="Unity">
            </div>
            <div class="course-panel-info">
              <h4>Getting Started with Unity</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio autem repellat illo, blanditiis, qui assumenda! Ipsa similique nihil voluptatibus cumque suscipit officia ipsum error! Consectetur, recusandae, maiores. Et sint, rerum?</p>
              <a class="btn btn-success pull-right" href="" title="Iniciar">Iniciar</a>
            </div>
          </div>
        </div>
      </li>
      <!-- Layout para curso iniciado -->
      <li class="course-list-item">
        <div class="course-panel panel panel-default">
          <div class="panel-body">
            <div class="course-panel-thumb">
              <img src="https://cdn-public.techrocket.com/uploads/unity1.png" alt="Unity">
            </div>
            <div class="course-panel-info">
              <h4>Building Objects and Environments in Unity</h4>
              <p class="stats">
                <span class="points">
                  <span class="points-label">Points</span>
                  <span class="points-value text-success">1.239</span>
                </span>
                <span class="links">
                  <a class="text-muted disabled" href="" title="Certificado bloqueado"><i class="ico-certificate mr5"></i>Certificado bloqueado</a>
                </span>
              </p>
            </div>
          </div>
          <div class="panel-footer">
            <div class="v-table">
              <div class="v-table-cell text-left" style="width:60%;">
                <div class="progress progress-xs mb0">
                  <div class="progress-bar progress-bar-success" style="width: 60%">
                    <span class="sr-only">60%</span>
                  </div>
                </div>
              </div>
              <div class="v-table-cell text-center" style="width:10%">
                60%
              </div>
              <div class="v-table-cell text-right" style="width:30%;">
                <a class="btn btn-success" href="" title="Continuar">Continuar</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- Layout para curso finalizado -->
      <li class="course-list-item">
        <div class="course-panel panel panel-default">
          <div class="panel-body">
            <div class="course-panel-thumb">
              <img src="https://cdn-public.techrocket.com/uploads/unity1.png" alt="Unity">
            </div>
            <div class="course-panel-info">
              <h4>Building Objects and Environments in Unity</h4>
              <p class="stats">
                <span class="points">
                  <span class="points-label">Points</span>
                  <span class="points-value text-success">1.239</span>
                </span>
                <span class="links">
                  <a href="" title="Ver certificado"><i class="ico-certificate mr5"></i>Ver certificado</a>
                </span>
              </p>
            </div>
          </div>
          <div class="panel-footer">
            <div class="v-table">
              <div class="v-table-cell text-left" style="width:60%;">
                <div class="progress progress-xs mb0">
                  <div class="progress-bar progress-bar-success" style="width: 100%">
                    <span class="sr-only">100%</span>
                  </div>
                </div>
              </div>
              <div class="v-table-cell text-center" style="width:10%">
                <i class="ico-checkmark text-success"></i>
              </div>
              <div class="v-table-cell text-right" style="width:30%;">
                <a class="btn btn-success" href="" title="Continuar"><i class="ico-rotate mr10"></i>Reiniciar</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
