<section class="container">
    <!-- START row -->
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-minimal" style="margin-top:10%;">
                <!-- Upper Text -->
                <div class="panel-body text-center">
                    <i class="ico-file-remove2 longshadow fsize112 text-default"></i>
                </div>
                <div class="panel-body text-center">
                    <h1 class="semibold longshadow text-center text-default fsize32 mb10 mt0">WHOOPS!!</h1>
                    <% if params['type'] == 'unallowed' %>
                        <h4 class="semibold text-primary text-center nm">Você não pode acessar essa página</h4>
                    <% end %>
                </div>
                <!--/ Upper Text -->

                <!-- Button -->
                <div class="panel-body text-center">
                    <%= link_to "Voltar", :back, class: "btn btn-default mb5" %>
                </div>
                <!--/ Button -->
            </div>
        </div>
    </div>
    <!--/ END row -->
</section>
