<div class="badge-modal modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <div style="margin: 5px 0px;">
          <img src="{{ imageUrl }}" alt="">
        </div>
        <h3 class="semibold modal-title text-success">{{ name }}</h3>
      </div>
      <div class="modal-body">
        <h4 class="semibold mt0">Nova conquista!</h4>
        <p>Parabéns! Visite esse <a href="/dashboard/conquistas">link</a> para saber o que você ainda pode conquistar na plataforma.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
