<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title">Em desenvolvimento</h2>
      </div>
      <div class="panel-body">
        Essa funcionalidade ainda está em desenvolvimento
      </div>
    </div>
  </div>
</div>
