<!-- START modal-lg -->
<div id="modal-erro" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-dialog modal-sm">
            <div class="int-modal-header">
              <%= image_tag "cbfa/interception.png" %>
            </div>

            <div class="int-modal-footer">
              Você perdeu
            </div>

            <div class="int-modal-footer-buttons text-center">
              <a href="javascript:void" class="btn btn-danger btn-lg" data-dismiss="modal">
                  Voltar
              </a>
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal-dialog -->
</div>
<!--/ END modal-sm -->
