<p>
  Olá.
</p>

<p>Alerta de pagamento</p>

<p>id do moip: <%= @mail_params['MOIP_PAYMENT_ID'] %></p>
<p>id da fatura: <%= @mail_params['INVOICE_ID'] %></p>
<p>status: <%= @mail_params['STATUS_DESCRIPTION'] %></p>
