<div class="row">
  <div class="col-sm-12">
    <a href="/dashboard/admin/{{ domain_id }}/badges" class="btn btn-danger">
      <span ng-bind="('views.dashboard.admin.buttons.back' | i18next)"></span>
    </a>
  </div>
</div>

<form action="" name="editBadgeForm" class="form-horizontal">
  <div class="row">
    <div class="col-sm-12 chapters-list relative">

      <div data-ng-if="errors" class="panel panel-danger mt20" >
        <div class="panel-heading">
          <div class="panel-title">
            <span ng-bind="('views.dashboard.admin.form.errors' | i18next)"></span>
          </div>
        </div>
        <div class="panel-body">
          <p data-ng-repeat="(key, value) in errors">
            {{ getError(key) }}
          </p>
        </div>
      </div>

      <div class="indicator show" data-ng-if="loading">
        <span class="spinner"></span>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">
        <span ng-bind="('views.dashboard.admin.badges.fields.name' | i18next)"></span>
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" data-ng-model="badge.name" name="badge_name" required>

          <span class="text-danger" data-ng-if="editBadgeForm['badge_name'].$invalid && editBadgeForm['badge_name'].$dirty">
            <span data-ng-if="editBadgeForm['badge_name'].$error.required">
              <span ng-bind="('views.dashboard.admin.form.required_field' | i18next)"></span>
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">
          <span ng-bind="('views.dashboard.admin.badges.fields.points' | i18next)"></span>
        </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" data-ng-model="badge.badge_points" name="badge_badge_points" required min="0">

          <span class="text-danger" data-ng-if="editBadgeForm['badge_badge_points'].$invalid && editBadgeForm['badge_badge_points'].$dirty">
            <span data-ng-if="editBadgeForm['badge_badge_points'].$error.required">
              <span ng-bind="('views.dashboard.admin.form.required_field' | i18next)"></span>
            </span>
            <span data-ng-if="editBadgeForm['badge_badge_points'].$error.number">
              <span ng-bind="('views.dashboard.admin.form.numeric_error' | i18next)"></span>
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">
        <span ng-bind="('views.dashboard.admin.badges.fields.hint' | i18next)"></span>
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" data-ng-model="badge.hint" name="badge_hint">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">
          <span ng-bind="('views.dashboard.admin.badges.fields.type' | i18next)"></span>
        </label>
        <div class="col-sm-10">
          <select class="form-control" name="badge_badge_type" data-ng-model="badge.badge_type" id="badge_badge_type" data-ng-required>
            <option value="simple">
            {{ 'views.dashboard.admin.badges.types.simple' | i18next }}
            </option>
            <option value="reusable">
              {{ 'views.dashboard.admin.badges.types.reusable' | i18next }}
            </option>
          </select>

          <span class="text-danger" data-ng-if="editBadgeForm['badge_badge_type'].$invalid && editBadgeForm['badge_badge_type'].$dirty">
            <span data-ng-if="editBadgeForm['badge_badge_type'].$error.required">
              <span ng-bind="('views.dashboard.admin.form.required_field' | i18next)"></span>
            </span>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <span ng-bind="('views.dashboard.admin.badges.fields.main_image' | i18next)"></span>
          </div>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <span class="input-group-btn">
                <div class="btn btn-primary btn-file">
                  <span class="icon iconmoon-file-3"></span>
                  <span ng-bind="('views.general.select_image' | i18next)"></span>
                  <input type="file" name="avatar" onchange="angular.element(this).scope().setAvatar(this.files)">
                </div>
              </span>
            </div>
            <div class="col-sm-4">
              <div>
                <span ng-bind="('views.dashboard.admin.form.current_image' | i18next)"></span>
              </div>

              <img data-ng-src="{{ badge.avatar_url }}" data-ng-if="badge.avatar_url" alt="{{ badge.avatar_file_name }}" style="width: 80px;">
              <div data-ng-if="!badge.avatar_url">
                <span ng-bind="('views.dashboard.admin.form.no_image' | i18next)"></span>
              </div>
            </div>

            <div class="col-sm-4">
              <div>
                <span ng-bind="('views.dashboard.admin.form.new_image' | i18next)"></span>
              </div>

              <img data-ng-src="{{ newAvatarSrc }}" alt="" data-ng-if="newAvatarSrc" style="width: 100px;">
              <div data-ng-if="!newAvatarSrc">
                <span ng-bind="('views.dashboard.admin.form.no_selected_image' | i18next)"></span>
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <p>
              <span ng-bind="('views.dashboard.admin.badges.edit.image_help' | i18next)"></span>
            </p>
          </div>
        </div>
      </div>

      <a href="#" class="btn btn-success mb10" data-ng-click="sync()">
        <span ng-bind="('views.dashboard.admin.buttons.save' | i18next)"></span>
      </a>
    </div>
  </div>
</form>
