<div class="row">
  <div class="col-sm-8">
    <div class="panel">
      <div class="panel-body">
        <h2 class="mt0">Tutorial de como aplicar corretamente kerastase para cabelos crespos</h2>
        <p>
          <i class="ico-calendar3"></i> 15/jan - 10:20 | Última atualização: 14:17
          <i class="ico-comments"></i> 3 comentários
        </p>
        <hr class="">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <!-- media -->
        <div class="media">
          <!-- indicator -->
          <div class="indicator"><span class="spinner"></span></div>
          <!--/ indicator -->
          <img data-toggle="unveil" src="<%= image_url 'loreal/maquiagem.jpg' %>" alt="Cover" width="100%" class="unveiled">
        </div>
        <!--/ media -->

        <hr class="">

        <div class="pull-right">
          <span class="text-muted">
            Compartilhe:
          </span>

          <a href="#" class="btn btn-facebook">
            <i class="ico-facebook"></i>
          </a>

          <a href="#" class="btn btn-twitter">
            <i class="ico-twitter"></i>
          </a>
        </div>


      </div>
    </div>

    <!-- comments widget -->
    <div class="panel">
      <div class="panel-body">
        <h4 class="semibold nm">
          <i class="ico-comments"></i>
          Comentários
        </h4>

        <hr class="mt15">

        <div class="comments-list">
          <ul class="list-table">
            <li class="text-left valign-top" style="width:60px;">
                <img class="img-circle" src="http://template.onrocket.com.br/image/avatar/avatar9.jpg" alt="" width="50px" height="50px">
            </li>
            <li class="text-left">
                <p class="ellipsis nm"><span class="bold">Tamara Moon</span></p>
                <p class="nm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ... <a href="#">ver mais</a></p>
            </li>
          </ul>

          <hr class="mt10 mb10">

          <ul class="list-table">
            <li class="text-left valign-top" style="width:60px;">
                <img class="img-circle" src="http://template.onrocket.com.br/image/avatar/avatar9.jpg" alt="" width="50px" height="50px">
            </li>
            <li class="text-left">
                <p class="ellipsis nm"><span class="bold">Tamara Moon</span></p>
                <p class="nm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ... <a href="#">ver mais</a></p>
            </li>
          </ul>

          <hr class="mt10 mb10">

          <ul class="list-table">
            <li class="text-left valign-top" style="width:60px;">
                <img class="img-circle" src="http://template.onrocket.com.br/image/avatar/avatar9.jpg" alt="" width="50px" height="50px">
            </li>
            <li class="text-left">
                <p class="ellipsis nm"><span class="bold">Tamara Moon</span></p>
                <p class="nm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ... <a href="#">ver mais</a></p>
            </li>
          </ul>
        </div>

        <hr>
        <form action="">
          <ul class="list-table">
            <li class="text-left valign-top" style="width:60px;">
              <img class="img-circle" src="http://template.onrocket.com.br/image/avatar/avatar9.jpg" alt="" width="50px" height="50px">
            </li>
            <li class="text-left">
              <textarea name="" id="" class="form-control" style="height: 73px;" placeholder="Comente"></textarea>
            </li>
          </ul>
          <input type="submit" class="btn btn-primary pull-right mt10" value="Enviar">
        </form>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <p>
      <i class="ico-calendar3"></i> Enviado por <a href="#">Manoel Quirino Neto</a>
    </p>
  </div>

</div>

