<!DOCTYPE html>
<html>
<head>
  <title>Trivias</title>
  <%= stylesheet_link_tag    "trivias/application", media: "all" %>
  <%= javascript_include_tag "trivias/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
