@import "compass/css3/text-shadow";

// $amarelo: #FDBD07;
// $dourado: #C9AF77;

.login-header {
  // background: image-url("cbfa/login-header.jpg") no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // display: none;

  // &:before {
  //   content: "";
  //   display: block;
  //   padding-top: (272/747) * 100%;
  // }
}

.login-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px !important;
  float: none !important;
}


.login-content {
  > .row {
    height: inherit;

    > .col-form {
      height: inherit;
    }
  }
}

  .login-page-title {
    color: #171c1d;
    font-weight: 300;
    font-size: 22px;
    @include text-shadow(0 1px 2px rgba(0,0,0,.2));
    border: none;
    text-align: center;
    text-transform: uppercase;
  }

  .login-form {
    // width: 303px;
    // margin: 0 auto;
    // margin-top: 50px;
    // display: block;

    input:-webkit-autofill {
      background-color: white !important;
    }
  }

  .cbfa-footer-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
  }


  @media (max-width: 420px) {
    .login-header {
      display: block;
    }

    .login-content {
      height: auto !important;

      .login-form {
        margin-top: 20px;
        margin-bottom: 40px;

      }
    }

      .login-page-title {
        margin-bottom: 20px;
      }
  }

  // ipad em pe

  @media (min-width: 768px) and (max-width: 1000px) {

    .login-content {
      background-position: -100px 0px;
    }

  }


.select_social_accounts {
  .title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}

.social-iconed-login-button {
  font-size: 18px;
}

.login-logo {
  max-width: 100%;
  max-height: 100%
}

.centered-lined {
  text-align: center;
  color: #adadad;
  font-weight: 400;

  .centered-content {
    display: inline-block;
    background: #ecf0f1;
    padding: 0 10px;
  }

  & + hr {
    margin-top: -8px;
    margin-bottom: 30px;
  }
}
