@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);


html body {
  font-family: 'Lato', sans-serif;
}

@import "loreal/header";
@import "loreal/login";

$dourado: #C9AF77;

html.login-page body {
  background: black;
}

.navbar-header {
  background: #000000 !important;
}

.topmenu li.active a > .figure > [class^="ico-"], .mainmenu li.active a > .figure > [class^="ico-"], .topmenu li.active a > .figure > [class*=" ico-"], .mainmenu li.active a > .figure > [class*=" ico-"] {
  color: $dourado;
}

a {
  color: $dourado;

  &:hover, &:focus, &:active {
    color: $dourado;
    @include opacity(0.9);
  }
}

.open > .dropdown-toggle.btn-success {
  color: white;
  background: black;
}

// .btn-success {
//   background: $dourado;
//   border: none;
//   color: black;

//   &:hover, &:focus, &:active {
//     color: white;
//     background: black;
//   }
// }

.open > .dropdown-toggle.btn-filtro {
  color: white;
  background: black;
}

.btn-filtro {
  background: none;
  @include border-radius(0);
  border: 1px solid black;
  border-top: none;
  border-left: none;
  border-bottom: none;
  color: black;

  &:hover, &:focus, &:active {
    color: white;
    background: black;
  }
}


.open > .dropdown-toggle.btn-primary {
  background: $dourado;
}


.btn-primary {
  background: black;
  border: none;

  &:hover, &:focus, &:active {
    background: $dourado;
  }
}

.btn-primary-default {
  background-color: #00b1e1;
  border-color: #00a5d2;
}

.progress .progress-bar.progress-bar-success {
  background-color: $dourado;
}

.text-success {
  color: $dourado !important;
}

.list-group-tabs > .list-group-item.active {
  background-color: #2A2A2A;
  border-color: #2A2A2A;
}

.form-control:focus {
  border-color: $dourado;
}

.text-primary {
  color: black !important;
}

.course-list .course-list-item .course-panel .panel-body > .course-panel-thumb > img {
  @include box-shadow(1px 1px 8px 1px rgb(0, 0, 0));
}

.breadcrumb {
  background-color: white;
  border: 1px solid #cfd9db;
}

.step-overlay {
  background: #777777;
  padding: 10px;
}

.border-radius-5 {
  @include border-radius(5px);
}

/* ----------------------------
 *
 * Layout - Fixed sidebar
 * @note: fixed sidebar will automatically make header fixed and only work in screen-lg and screen-md
 * @working viewport: screen-lg, screen-md
 *
 * --------------------------- */
#header.navbar {
  position: fixed;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.03);
}
#header.navbar ~ #main {
  padding-top: 100px;
}

.social_error {
  font-weight: 400;

  .panel {
    margin-top: 50px;
  }

  .container {
    max-width: 700px;
  }

  // .btn-primary {
  //   background: #c9af77;

  //   &:hover {
  //     @include opacity(0.9);
  //   }
  // }

  .title {
    color: white;
  }
}

/* ----------------------------
 *
 * Fixed sidebar - screen-sm and up
 *
 * --------------------------- */
@media (min-width: 768px) {
  #header.navbar ~ #main {
    padding-top: 60px;
  }
  #header.navbar ~ .sidebar.sidebar-menu {
    margin-top: 60px;
  }
  :not(.sidebar-minimized) .sidebar.sidebar-menu {
    position: fixed;
  }
  :not(.sidebar-minimized) .sidebar.sidebar-menu .viewport {
    position: absolute !important;
  }
  :not(.sidebar-minimized) .sidebar.sidebar-menu .content {
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  .sidebar-minimized .sidebar.sidebar-menu {
    position: relative;
  }
  .sidebar-minimized .sidebar.sidebar-menu .viewport {
    position: relative !important;
  }
  .sidebar-minimized .sidebar.sidebar-menu .content {
    position: relative;
    overflow-y: visible;
  }
}

.topmenu li > .submenu li.active:after, .mainmenu li > .submenu li.active:after {
  background-color: $dourado;
}
