// #main {
//   background: black;
// }
 @import "compass/css3/opacity";

$moip-azul: #002857;
$outro-azul: #22344a;

html.login-page body {
  background: $outro-azul;
}

.navbar-header {
  background: white !important;
}

// .topmenu li.active a > .figure > [class^="ico-"], .mainmenu li.active a > .figure > [class^="ico-"], .topmenu li.active a > .figure > [class*=" ico-"], .mainmenu li.active a > .figure > [class*=" ico-"] {
//   color: $moip-azul;
// }

a {
  color: $moip-azul;

  &:hover {
    color: $moip-azul;
    @include opacity(0.9);
  }
}
